:root {
  --font-color: #212427;
  --primary: #8884ff;
  --secondary: #003844;
  --highlight: #006c67;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 12px;
  border: 2px solid #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--highlight);
}

* {
  font-family: "Gabarito", sans-serif !important;
  /* border-color: transparent !important; */
}

.header-index {
  background-color: rgba(136, 132, 255, 0.8);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: all 0.5s ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.header-index.scroll {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(136, 132, 255, .9);
}
.header-index .logo {
  transition: width 0.35s ease-in-out;
}
.header-index.scroll .logo {
  width: 140px;
}

@media(max-width: 991px) {
  .header-index {
    background-color: var(--primary);
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .page {
    padding-top: 93px !important;
  }
} 

.page {
  padding-top: 127px;
}
.page.scroll {
  padding-top: 80px;
}

footer {
  background-color: var(--secondary);
  color: #fff;
}

.headerBtn:hover {
  background-color: transparent !important;
}
.headerBtn img {
  transition: transform 0.2s ease-in-out;
}
.headerBtn img:hover {
  background-color: var(--primary);
  border-radius: 50%;
  transform: scale(1.15);
}

.chakra-menu__menu-button:hover {
  background-color: var(--primary) !important;
}

.icon-outline {
  border: 2px solid var(--primary) !important;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  transition: all 0.15s ease-in-out;
  display: flex;
  align-items: center;
}
.icon-outline img {
  width: 35px;
  height: 20px;
}
.icon-outline:hover {
  background-color: var(--primary);
}

.secondaryBtn {
  border: 3px solid var(--secondary) !important;
  color: var(--secondary) !important;
  background-color: transparent !important;
}
.secondaryBtn:hover {
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  color: var(--highlight);
  font-weight: 900;
  font-size: 30px;
}
.swiper .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border: 5px solid #fff !important;
  background-color: #858585;
  opacity: 0.75;
}
.swiper .swiper-pagination-bullet-active {
  border-color: var(--highlight) !important;
  background-color: #fff;
  opacity: 1;
}

.bannerSwiper .swiper-pagination {
  bottom: 20px;
}

.productsSwiper {
  position: initial;
  min-height: 475px;
}
.productsSwiper .swiper-button-prev {
  left: -10px;
}
.productsSwiper .swiper-button-next {
  right: -10px;
}

.footerLink:hover {
  text-decoration: none !important;
}
.footerLink::after {
  display: block;
  content: "";
  border-bottom: solid 2px #fff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.footerLink:hover::after {
  transform: scaleX(1);
}

@media (max-width: 767px) {
  header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  header.scroll {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .bannerSwiper .swiper-button-prev,
  .bannerSwiper .swiper-button-next {
    display: none;
  }

  .bannerSwiper .swiper-pagination {
    bottom: -5px;
  }

  .bannerSwiper .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border-width: 4px !important;
  }
}
